#piglatin{
    height: 200px;
    position: relative;
    background-color:white;
    z-index: 2;
    padding: 0.5em;
}
#after{
    position: relative;
}
#after img{
    position: relative;
    left:10%;
}

#after::before{
    content: '';
    width:40px;
    height:40px;
    background-color:white;
    position: absolute;
    left:12%;
    transform: rotate(40deg);
    top:85%;
    z-index: 3;
}